{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    {% include 'base/meta.html' %}
    <title> {% block 'title' %} {% endblock %} - WebP2MS</title>
    <style>
        .text-light {
            color: white !important;
        }
    </style>
</head>

<body>
</body>

<body id="kt_app_body" data-kt-app-layout="dark-sidebar" data-kt-app-header-fixed="true"
    data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true"
    data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true"
    data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default">
    <script>
        var defaultThemeMode = "light";
        var themeMode;
        if (document.documentElement) {
            if (document.documentElement.hasAttribute("data-bs-theme-mode")) {
                themeMode = document.documentElement.getAttribute("data-bs-theme-mode");
            } else {
                if (localStorage.getItem("data-bs-theme") !== null) {
                    themeMode = localStorage.getItem("data-bs-theme");
                } else {
                    themeMode = defaultThemeMode;
                }
            }
            if (themeMode === "system") {
                themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
            }
            document.documentElement.setAttribute("data-bs-theme", themeMode);
        }
    </script>
    <!--end::Theme mode setup on page load-->
    <!--begin::App-->
    <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
        {% include 'partials/header.html' %}
        <!--begin::Wrapper-->
        <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
            {% include 'partials/sidebar.html' %}
            <!--begin::Page-->
            <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
                <!--begin::Main-->
                {% block 'main' %}
                {% endblock %}
                <!--end::Main-->
            </div>
            <!--end::Page-->
            <!--end::Wrapper-->
        </div>
    </div>
</body>
<!--begin::Javascript-->
<script>
    var hostUrl = "/static/";
</script>
<!--begin::Global Javascript Bundle(mandatory for all pages)-->
<script src="/static/plugins/global/plugins.bundle.js"></script>
<script src="/static/js/scripts.bundle.js"></script>

</html>