{% load static %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="description"
    content="Web Platform for Managing and Monitoring Schedules - Plateforme web de gestion et de suivi des emplois du temps de l'Institut IFRI.">
<meta name="keywords" content="IFRI, emploi du temps, gestion, suivi, plateforme web, WebP2MS">
<meta name="author" content="IFRI">
<meta name="robots" content="index, follow">

<link rel="manifest" href="{% static 'manifest.json' %}">

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="{% static 'css/master.css' %}">
<link rel="stylesheet" href="{% static 'css/mobile.css' %}">

<link href="/static/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css">
<!--end::Fonts-->
<!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
<link rel="stylesheet" href="{% static 'css/style.bundle.css' %}">

<link href="/static/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />

<!-- beging:: Adding vuejs files -->
<script src="{% static 'vendor/vue/axios.min.js' %}"></script>
<script src="{% static 'vendor/vue/vue.global.js' %}"></script>
<!-- end:: Adding vuejs files -->

<!-- beging:: Adding custom js files -->
<script src="{% static 'js/app.js' %}" async></script>
<!-- end:: Adding customjs files -->

<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("{% static 'js/service-worker.js' %}")
            .then(function (registration) {
                console.log('Service Worker registered with scope:', registration.scope);
            })
            .catch(function (error) {
                console.error('Service Worker registration failed:', error);
            });
    }

</script>