<!DOCTYPE html>
<html>

<head>
    <title>Activation de compte WebP2MS</title>
</head>

<body>
    <h1>Mot de passe</h1>
    <p>Bonjour {{ to.first_name }} {{ to.last_name }},</p>
    <p>Un administrateur à IFRI a ouvert un compte pour vous afin de pouvoir accéder à la plateforme web de Gestion et
        de suivi des emplois du temps à IFRI (WebP2MS). Veuillez suivre le lien ci-dessous pour définir votre mot de
        passe :</p>
    <h3> <a style="color: #008bcb" href="{{ reset_link }}">{{ reset_link }} </h3>
    <p style="color: red">Ce lien est valide pendant {{ expire }} heures à partir de maintenant.</p>
    <p>Si vous n'avez pas demandé cette action, veuillez supprimer ce message.</p>
    <p>Merci,</p>
    <p>L'équipe Technique de WebP2MS</p>
</body>

</html>