@import url('/static/vendor/Montserrat/Montserrat-VariableFont_wght.ttf');
@import url('/static/vendor/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');

:root {
    --app-primary-color: #2e4053
}

*:not(.fa, .fas, .fad) {
    font-family: 'Montserrat' !important;
}

html, body {
    overflow-x: hidden!important;
}
.text-app-secondary {
    color: var(--app-primary-color)!important;
}

.bg-app-secondary {
    background-color: var(--app-primary-color)!important;
}

.btn-hover:hover {
    transition: .4s ease-in;
    opacity: .8!important;
}

.bg-auth {
    background-image: url('/static/img/bg5.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.offcanvas-body .row a:hover{
    background-color: rgb(3, 3, 57);
    border-radius: 10%;
}