@import url('/static/vendor/Montserrat/Montserrat-VariableFont_wght.ttf');
@import url('/static/vendor/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');

:root {
    --app-primary-color: #2e4053;
    --jma-primary-color: #2e4053;
    --custom-dark: #181C32;
}

*:not(.fa, .fas, .fad) {
    font-family: 'Montserrat', sans-serif !important;
}

html,
body {
    overflow-x: hidden !important;
}

.bg-dark-custom {
    background-color: var(--custom-dark)!important;
}

.text-app-secondary {
    color: var(--app-primary-color) !important;
}

.bg-app-secondary {
    background-color: var(--app-primary-color) !important;
}

.btn-hover:hover {
    transition: .4s ease-in;
    opacity: .8 !important;
}

.bg-auth {
    background-image: url('/static/img/bg5.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.text-jma {
    color: var(--jma-primary-color) !important;
}

.bg-jma {
    background-color: var(--jma-primary-color) !important;
}

.app-sidebar-menu .menu-item .menu-link:hover,
.menu-active {
    background-color: var(--custom-dark)!important;
    transition: .5s all;
    color: white;
}

.app-sidebar-menu .menu-item .menu-link:hover svg,
.menu-active svg {
    color: var(--bs-text-primary) !important;
    transition: .5s ease-in-out all;
}

.app-sidebar-menu svg {
    color: var(--bs-text-light) !important;
}

.svg-light svg {
    color: var(--bs-text-light) !important;
}

#kt_app_content_container #menuCardTop svg {
    color: var(--bs-text-light) !important;
}

.nav-active .active svg {
    color: var(--jma-primary-color) !important;
}