{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    {% include 'base/meta.html' %}
    <title> {% block 'title' %} {% endblock %} - TimeTable Plateform</title>
    <style>
        @import url("{% static 'vendor/Montserrat/Montserrat-VariableFont_wght.ttf' %}");
        @import url("{% static 'vendor/Montserrat/Montserrat-Italic-VariableFont_wght.ttf' %}");

        *:not(.fa, .fas, .fad) {
            font-family: 'Montserrat'!important;
        }

        :root {
            --app-primary-color: #2e4053
        }
    </style>
</head>
</head>
<body>
    <main class="">
        {% block 'main' %}
        <!-- Ne rien ecrire dans ce fichier -->
        {% endblock %}
    </main>
</body>
</html>