{% extends 'auth/base.html' %}

{% block 'title' %} Mot de Passe Oublié {% endblock %}

{% block 'main' %}

<div class="card-body">
    <div class="text-center my-4">
        <h2 class="fw-bold">Mot de Passe Oublié ?</h2>
        <h6 class="text-muted">Entrer votre adresse email pour reinitialiser votre mot de passe</h6>
    </div>
    <form method="POST" class="my-2">
        {% csrf_token %}
        <div class="form-group my-3">
            <input name="email" id="email" type="email" placeholder="Email" class="form-control">
        </div>
        <div class="form-group my-3 text-center">
            <button class="btn text-light bg-app-secondary mx-1 btn-hover">Reinitialisation</button>
            <a href="{% url 'login' %}" class="btn text-light btn-danger btn-hover">Annuler</a>
        </div>
        <div class="text-center my-4">
            <a href="javascript:void(0)" class="text-app-secondary text-decoration-none">&#128274;
                confidentialités Générales d'Utilisation </a>
        </div>
    </form>
</div>

{% endblock %}