{% extends 'auth/base.html' %}

{% block 'title' %} Mot de Passe Oublié {% endblock %}

{% block 'main' %}

<div class="card-body">
    <div class="text-center my-4">
        <h2 class="fw-bold">Mot de Passe Oublié ?</h2>
        <h6 class="text-muted">Entrer votre adresse email pour reinitialiser votre mot de passe</h6>
    </div>
    <form method="POST" class="my-2" @submit.prevent="forgotPassword">
        {% csrf_token %}
        <div v-if="errors && !success" class="alert alert-dismissible alert-danger text-center w-100 w-lg-75 mx-auto my-2"
            role="alert" id="liveAlert">
            <div class="msg-alert">
                <p class="fw-bold" v-for="error in errors">
                    [[ error ]]
                </p>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div v-if="success" class="alert alert-dismissible alert-success text-center w-100 w-lg-75 mx-auto my-2"
            role="alert" id="liveAlert2">
            <div class="msg-alert">
                <p class="fw-bold">
                    [[ success ]]
                </p>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="form-group my-3">
            <input v-model="user.email" name="email" id="email" type="email" placeholder="Email" class="form-control">
        </div>
        <div class="form-group my-3 text-center">
            <button v-if="!checking" type="submit"
                class="btn text-light bg-app-secondary mx-1 btn-hover">Reinitialisation</button>
            <button v-if="checking" class="btn text-light bg-app-secondary mx-1 btn-hover" type="button" disabled
                id="checkingBtn">
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                Verification...
            </button>
            <a href="{% url 'login' %}" class="btn text-light btn-danger btn-hover">Annuler</a>
        </div>
        <div class="text-center my-4">
            <a href="javascript:void(0)" class="text-app-secondary text-decoration-none">&#128274;
                confidentialités Générales d'Utilisation </a>
        </div>
    </form>
</div>

{% endblock %}