{% extends 'auth/base.html' %}

{% block 'title' %} Nouveau Mot de Passe {% endblock %}

{% block 'main' %}

<div class="card-body">
    <div class="text-center my-4">
        <h2 class="fw-bold">Configurer Un Nouveau Mot de Passe</h2>
        <h6 class="text-muted">Avez-vous déjà reinitialiser votre mot de passe ? <a href="{% url 'login' %}"
                class="text-decoration-none fw-bold">Se Connecter</a>
        </h6>
    </div>
    <form method="POST" class="my-2">
        {% csrf_token %}
        <div class="form-group my-3">
            <input name="password" id="password" type="password" placeholder="Mot de Passe" class="form-control">
        </div>
        <div class="form-group my-3">
            <input name="confirm_password" id="password2" type="password" placeholder="Confirmer le Mot de Passe"
                class="form-control">
        </div>
        <div class="form-group my-3 text-center">
            <button class="btn text-light bg-app-secondary mx-2 w-100 btn-hover">Reinitialisation</button>
        </div>
        <div class="text-center my-4">
            <a href="javascript:void(0)" class="text-app-secondary text-decoration-none">&#128274;
                confidentialités Générales d'Utilisation </a>
        </div>
    </form>
</div>

{% endblock %}