{% extends 'auth/base.html' %}

{% block 'title' %} Nouveau Mot de Passe {% endblock %}

{% block 'main' %}

<div class="card-body">
    <div class="text-center my-4">
        <h2 class="fw-bold">Configurer Un Nouveau Mot de Passe</h2>
        <h6 class="text-muted">Avez-vous déjà reinitialiser votre mot de passe ? <a href="{% url 'login' %}"
                class="text-decoration-none fw-bold">Se Connecter</a>
        </h6>
    </div>
    <form method="POST" class="my-2" @submit.prevent="newPassword">
        {% csrf_token %}
        <div v-if="error && !success"
            class="alert alert-dismissible alert-danger text-center w-100 w-lg-75 mx-auto my-2" role="alert"
            id="liveAlert">
            <div class="msg-alert">
                <p class="fw-bold">
                    [[ error ]]
                </p>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div v-if="success" class="alert alert-dismissible alert-success text-center w-100 w-lg-75 mx-auto my-2"
            role="alert" id="liveAlert2">
            <div class="msg-alert">
                <p class="fw-bold">
                    [[ success ]]
                </p>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="form-group my-3">
            <input v-model="user.password" name="password" id="password" type="password" placeholder="Mot de Passe"
                class="form-control">
        </div>
        <div class="form-group my-3">
            <input v-model="user.confirm_password" name="confirm_password" id="password2" type="password"
                placeholder="Confirmer le Mot de Passe" class="form-control">
        </div>
        <div class="form-group my-3 text-center">
            <button v-if="!checking" type="submit"
                class="btn text-light bg-app-secondary w-100 mx-1 btn-hover">Reinitialisation</button>
            <button v-if="checking" class="btn text-light bg-app-secondary w-100 mx-1 btn-hover" type="button" disabled
                id="checkingBtn">
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                En cours...
            </button>
        </div>
        <div class="text-center my-4">
            <a href="javascript:void(0)" class="text-app-secondary text-decoration-none">&#128274;
                confidentialités Générales d'Utilisation </a>
        </div>
    </form>
</div>

{% endblock %}