{% extends 'auth/base.html' %}

{% block 'title' %} Creer un compte {% endblock %}

{% block 'main' %}

<div class="card-body">
    <div class="text-center my-4">
        <h2 class="fw-bold">Ouvrir un Compte</h2>
        <h6 class="text-muted">Ceci est un compte étudiant, contactez l'administration pour un compte
            collaborateur/enseignant</h6>
    </div>
    <form method="POST" class="my-2">
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group my-2">
                <input name="first_name" id="first_name" type="text" placeholder="Votre Prénom" class="form-control">
            </div>
            <div class="form-group my-2">
                <input name="last_name" id="last_name" type="text" placeholder="Votre Nom" class="form-control">
            </div>
            <div class="form-group my-2">
                <input name="email" id="email" type="email" placeholder="Email" class="form-control">
            </div>
            <div class="form-group my-2">
                <input name="password" id="password" type="password" placeholder="Mot de Passe" class="form-control">
            </div>
            <div class="form-group my-2">
                <input name="confirm_password" id="password2" type="password" placeholder="Confirmer le Mot de Passe" class="form-control">
            </div>
            <div class="text-end my-2">
                <a href="{% url 'login' %}" class="text-decoration-none text-app-secondary">Vous avez déjà un compte?</a>
            </div>
            <div class="form-group my-2 text-center">
                <button class="btn text-light shadow bg-app-secondary w-100 mx-2 fw-bold btn-hover">S'inscrire</button>
            </div>
            <div class="text-center my-4">
                <a href="javascript:void(0)" class="text-app-secondary text-decoration-none">&#128274;
                    confidentialités Générales d'Utilisation </a>
            </div>
        </form>
    </form>
</div>

{% endblock %}