{% extends 'base/base.html' %}
{% load humanize %}

{% block 'scripts' %}
{% endblock %}

{% block 'title' %} Vos notifications {% endblock %}

{% block 'main' %}
<div class="d-flex flex-column flex-column-fluid">
    <div id="kt_app_toolbar" class="app-toolbar py-4 py-lg-8">
        <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
                    Vos notifications
                </h1>
            </div>
        </div>
    </div>
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <div id="kt_app_content_container" class="app-container container-xxl">
            <div class="card">
                <div class="card-header border-0 pt-6">
                    {% if errors %}
                    <div class="alert alert-dismissible alert-danger text-center w-100 w-lg-75 mx-auto my-2"
                        role="alert" id="liveAlert">
                        <div class="msg-alert">
                            {% for error in errors %}
                            <p class="fw-bold">
                                {{ error }}
                            </p>
                            {% endfor %}
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    <div class="card-title">
                        <div class="d-flex align-items-center position-relative my-1">
                            <span class="svg-icon svg-icon-1 position-absolute ms-6">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
                                        transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                    <path
                                        d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                                        fill="currentColor" />
                                </svg>
                            </span>
                            <input type="text" data-kt-user-table-filter="search"
                                class="form-control form-control-solid w-250px ps-14" placeholder="Search user" />
                        </div>
                    </div>
                </div>
                <div class="card-body py-4 text-center">
                    <h1 class="my-4">Your notifications</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body py-4">
        <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_users">
            <a href="javascript:void(0)" class="btn btn-success px-3" data-bs-toggle="modal"
                                        data-bs-target="#kt_modal_edit_user{{subject.id}}">Mark all as read</a>
            <thead>
                <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
                    <th class="w-10px pe-2">
                        <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                            <input class="form-check-input" type="checkbox" data-kt-check="true"
                                data-kt-check-target="#kt_table_users .form-check-input" value="1" />
                        </div>
                    </th>
                    <th class="min-w-125px">Date</th>
                    <th class="min-w-125px">Category</th>
                    <th class="min-w-125px">Notifications</th>
                    <th class="min-w-125px">Hour</th>
                    <th class="min-w-100px">Delete messages</th>

                </tr>
                <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
                    <th class="w-10px pe-2">
                        <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                            <input class="form-check-input" type="checkbox" data-kt-check="true"
                                data-kt-check-target="#kt_table_users .form-check-input" value="1" />
                        </div>
                    </th>
                    <th class="min-w-125px">Date</th>
                    <th class="min-w-125px">Category(update shedule or new shedule or shedule modify or new teacher or new classes)</th>
                    <th class="min-w-125px">Notifications(message)</th>
                    <th class="min-w-125px">Hour sent</th>
                    <th class="min-w-125px"><a href="#" class="btn btn-danger px-3"
                        data-kt-users-table-filter="delete_row">Delete</a></th>
                </tr>
                
            </thead>
</div>

{% endblock %}